<div class="container postAndComment">

    <div class="row justify-content-center">
        <h2 class="text-center">Latest Feeds</h2>
        {{#each posts as |post|}}
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-body row">
                    <div class="col-3 border-end">
                        <h5>{{user.username}}</h5>
                        <p class="small text-muted">Posted on {{format_time post.date_created}}</p>
                    </div>
                    <div class="col-9">
                        <h5 class="card-title">{{post.name}}</h5>
                        <pre style="white-space:pre-line" class="card-text">{{post.description}}</pre>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="row justify-content-center">
                        {{#each comments as |comment|}}
                        <div class="col-12 border mb-2">
                            <div class="row">
                                <div class="col-8">
                                    <h5>{{comment.description}}</h3>
                                        <p>- posted by <span class="h6">{{comment.user.username}}</span> at
                                            {{format_date comment.date_created}}</p>
                                </div>
                                <div class="col-4 p-2">
                                    {{#if (same ../../currentUser comment.user.username)}}
                                    <button class="btn btn-danger delComment"
                                        data-commentid="{{comment.id}}">Remove</button>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>

                    {{#if ../logged_in}}
                    <div class="col-12 d-flex justify-content-center">
                        <button class="btn btn-primary commentButton" data-postid="{{post.id}}" data-bs-toggle="modal"
                            data-bs-target="#addCommentModal">Comment</button>
                    </div>
                    {{/if}}
                </div>
            </div>

        </div>
        {{/each}}

    </div>
</div>

<div class="modal fade" id="addCommentModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <h3 class="modal-title">Add Comment</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addCommentForm">
                    <div class="post-details">

                    </div>
                    <div class="mb-3">
                        <label for="commentContent" class="form-label">Your Comment:</label>
                        <textarea class="form-control" placeholder="Leave a comment here"
                            id="commentContent"></textarea>
                    </div>
                    <button class="btn btn-primary">Post</button>
                </form>
            </div>
        </div>
    </div>
</div>





<script src="./js/comment.js"></script>