<div class="container mt-3">
    <div class="row">
        <div class="col-md-3">
            <h2>Profile: {{cap renderData.username}}</h2>
           
            {{#if friendable}}
            <button class="btn btn-primary follow-btn" data-user="{{renderData.id}}" onclick="follow({{renderData.id}})"><i
                    class="text-white fa-solid fa-user-plus" data-user="{{renderData.id}}"></i></button>
            {{/if}}
           


            <div>
                <h4>Following </h4>
                {{#each renderData.follow as |follow|}}
                <a href="/profile/{{follow.username}}" class="btn btn-sm btn-info">{{follow.username}}</a>
                {{/each}}
            </div>

            <div>
                <h4>Followed by </h4>
                {{#each renderData.followed as |followed|}}
                <a href="/profile/{{followed.username}}" class="btn btn-sm btn-info">{{followed.username}}</a>
                {{/each}}
            </div>

        </div>
        <div class="col-md-8">

            {{> front-post renderData}}
        </div>
    </div>

</div>


<script>
   const follow =  async (e) => {
        const followingUser = e
        console.log(followingUser)

        const response = await fetch('/api/network', {
            method: 'POST',
            body: JSON.stringify({
                followed_id:followingUser,
            }),
            headers: {
                'Content-Type': 'application/json'
            }
        });
        if(response.ok){
            document.location.reload()
        }else{
            alert('Ugh Oh... Error')
        }

    }

</script>